:root{
	--main-font: 'Roboto', sans-serif;
	--secondary-font: 'Raleway', sans-serif;
	--accent-color: #2196F3;
	--main-text-color: #212121;
	--secondary-text-color: #757575;
}

body{
	font-family: var(--main-font);
}

.list{
	list-style-type: none;
}

address{
	font-style: normal;
}

.link{
	text-decoration: none;
	color: var(--main-text-color);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
}


ul,
ol {
    margin: 0;
    padding: 0;
}



.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}



/*============HEADER============*/


.navigation {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
}



.navigation-list {
    display: flex;
    align-items: center;
}

.header-contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}


.wrap {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}




.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0 93px 0 0;
}

.logo__first-part {
    color: var(--accent-color);
}


.navigation-list__item:not(:last-child) {
    margin: 0 50px 0 0;
}

.navigation-list__link:hover,
.navigation-list__link:focus {
	color: rgba(33, 150, 243, 1);
}

.navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    }

.current {
    color: var(--accent-color);
}    

.header-contacts__item {
    margin-right: 40px
}	


.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    
}

.navigation-list__link:hover, .navigation-list__link:focus, .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--accent-color);
}



header::after {
    content: '';
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.header-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
}


.header-contacts__item--mod {
    margin: 0;
}    

.header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

/*============END HEADER============*/

/*============HERO============*/
.hero__button:hover,
.hero__button:focus{
	background: #188CE8;
	cursor: pointer;
}

.hero__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: auto;
    margin-bottom: 30px;
}

.hero {
    background-color: #2F303A;
}

.hero__button {
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    
}



.hero > .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    }


.hero-bg-wrap {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(
180deg
, rgba(47,48,58,0.4) 0%, rgba(47,48,58,0.4) 100%), url(../images/hero-bg.jpg);
    
}

.hero-bg-wrap .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
}



/*============END HERO============*/

/*============RULES============*/


.rules {
    padding-top: 94px;
    padding-bottom: 94px;
}


.rules-header{
	visibility: hidden;
	position: absolute;
}

.rules__text{
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.rules__secondary-header{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
    margin-bottom: 10px;
}


.rules-list__item:not(:last-child) {
    margin-right: 30px;
}


.rules-list__item {
    width: 270px;
}


.rules-list {
    justify-content: center;
}


.rules-icon__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background: #F5F4FA;
}
/*============END RULES============*/

/*============ABOUT-US============*/

.primary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.img-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
}


.img-list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

}


.about-us {
    padding-bottom: 94px;
}
/*============END ABOUT============*/

/*============TEAM============*/

.team-work {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);

}

.team-list__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }

.team-list__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 10px;
}


.team-list {
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;

}


.team-list-wrap {
    padding: 30px 32px;
}

.social-list-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list {
    display: flex;
    
}


.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list-icon {
    fill: currentColor;
}

.team-list__wrap {
    padding: 30px 32px;
}

.social-list-link:hover,
.social-list-link:focus{
    color: #fff;
    background: var(--accent-color);
}

/*============END TEAM============*/


/*============CLIENTS============*/

.clients-list {
    margin-left: -30px;
}

.clients-list-item {
    
    margin-left: 30px;
    flex-basis: calc(100% / 6 - 30px);
}


.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    height: 90px;
}

.clients-list__icon {
    fill: currentColor;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}


.clients-list-link:hover,
.clients-list-link:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}



/*============END CLIENTS============*/

/*============FOOTER============*/

footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.logo-bottom {
    color: #FFFFFF;
    display: block;
    margin: 0 0 16px;
}



.address-list__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.logo__first-part {
    color: var(--accent-color);
}

.addr {
    color: #FFFFFF;
}


.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}


.address-list {
    margin-top:16px;
}


.right-part__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}


.footer__social-container {
    display: flex;
}

.social-container__item:not(:last-child) {
    margin-right: 10px;
}

footer .social-container__link {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.social-container__link {
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

 }   


.social-container__link:hover,
.social-container__link:focus{
    color: #fff;
    background: var(--accent-color);
}
 
.social-container__icon {
    fill: currentColor;
}

.footer-container {
    display: flex;
    align-items: baseline;
}


.footer__adress-part {
    margin-right: 70px;
}

/*============END FOOTER============*/

/*============PORTFOLIO PART============*/


.projects-list-link:focus,
.projects-list-link:hover{
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.projects-list-link {
display: block;
}
.main-section__header {
	visibility: hidden;
	position: absolute;
}


.filter-list__item:not(:last-child) {
    margin-right: 8px;
}


.filter-list__button {
    height: 38px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background: #F5F4FA;
}

  


.filter-list__button:hover,
.filter-list__button:focus {
    background: #188CE8;
	cursor: pointer;
}


.projects-list__header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.projects-list__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

}

.filter-list {
    justify-content: center;
    margin-bottom: 50px;
}


.main-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.projects-list {
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;

}

.projects-list__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
}


.projects__wrap {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}


/*============END PORTFOLIO============*/